!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %head
    %title="Comfortably Quiet"
    %meta(name="description" content="{MetaDescription}")
    %link(rel="shortcut icon" href="{Favicon}")
    %link(rel="alternate" type="application/rss+xml" title="RSS" href="{RSS}")
    %meta(name="viewport" content="width=850")
    
    / bootstrap css
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

    / css from dropbox
    %link(rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/gyq34p0fzsnxth8/cq.min.css")
    
    / jQuery
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js")
  %body

    / font awesome
    %script(src="https://use.fontawesome.com/1fa1d3293c.js")
  
    / Latest compiled and minified JavaScript
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    / Pinterest widget
    %script(async defer src="//assets.pinterest.com/js/pinit.js")

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    / js from dropbox
    %script(src="https://dl.dropbox.com/s/2zlgjz0c17qhqy4/cq.min.js")

    .container-fluid
      / sidebar 
      .col-md-3
        #sidebar.list-group
          %a.list-group-item(href="/")
            .media
              .media-left
                %img#avatar.media-object(src="{portraitURL-64}")
              .media-body
                %h1#title {Title}
        
   
      / modal
      #focus.modal.fade(tabindex="-1" role="dialog" aria-labelledby="label")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              %button.close(type="button" data-dismiss="modal" aria-label="Close")
                %span(aria-hidden="true")
                  &times;
              %h4.modal-title
            .modal-body
              = Haml::Engine.new(File.read('haml/modal.haml')).render
      / content
      #content.col-md-9
        / nav bar
        %nav.navbar.navbar-default#nav-bar
          %ul.nav.nav-pills.center-block
            {block:HasPages}{block:Pages}<li role="presentation"><a href="{URL}">{Label}</a></li>{/block:Pages}{/block:HasPages}
            {block:AskEnabled}<li role="presentation"><a href="/ask">{AskLabel}</a></li>{/block:AskEnabled}

        {block:Posts}
        #post
          / text
          = Haml::Engine.new(File.read('haml/text.haml')).render
          / video
          = Haml::Engine.new(File.read('haml/video.haml')).render
          / audio
          = Haml::Engine.new(File.read('haml/audio.haml')).render
          / quote
          = Haml::Engine.new(File.read('haml/quote.haml')).render
          / link
          = Haml::Engine.new(File.read('haml/link.haml')).render
        {/block:Posts}
        {block:Pagination}
        %nav
          %ul.pager 
            {block:PreviousPage}
            %li#previous
              %a(href="{PreviousPage}") 
                %i.fa.fa-chevron-circle-left.fa-4x(aria-hidden="true")
            {/block:PreviousPage}
            {block:NextPage}
            %li#toTop
              %a
                %i.fa.fa-chevron-circle-up.fa-4x(aria-hidden="true")
            %li#next
              %a(href="{NextPage}")
                %i.fa.fa-chevron-circle-right.fa-4x(area-hidden="true")
            {/block:NextPage}
        {/block:Pagination}
